.explore-container {
  margin-top: 54px;
  background: asset-data-url("guild.jpg") no-repeat center fixed;
  min-height: 100vh;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  display:flex;
  justify-content: center;
}
.explore {  
  width: 100%;
  display:flex;
  justify-content: center;
  position: relative;
  .explore-left {
    width: 100%;
    .explore-header{
      color: white;
      height: 50px;
      border-bottom: 1px solid #595959;
      margin-bottom: 20px;
      display: flex;
      align-items: flex-end;
      justify-content: space-evenly;
    }
    .explore-tag-container {
      height: 200px;
      width: 100%;
      display: flex;
      margin-bottom: 30px;
      overflow-x: scroll;
      .explore-new-tag-container {
        margin-right: 8px;
        padding: 8px;
        width: 140px;
        box-sizing: border-box;
        border-radius: 6px;
        border: 1px solid #595959;
        .new-tag-title {
          display: flex;
          align-items: center;
          max-width: 100%;
          min-height: 2em;
          font-weight: 700;
          margin-bottom: 8px;
        }
        .new-tag-examples {
          display: flex;
          justify-content: space-between;
          .new-tag-example-image {
            width: 56px;
            height: 93.3px;
            object-fit: cover;
            &:first-child {
              margin-right: 10px;
            }
          }
        }
        .new-tag-follow-button {
          width: 100%;
          padding: 8px 20.5px;
          margin-top: 10px;
          font-weight: 700;
          line-height: 1.5;
          border-radius: 3px;
          border: none;
          border-style: none;
          cursor: pointer;
        }
      }
    }
    .quest-columns-1 {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      .quest-column-1 {
        width: 540px;
        align-self: center;
      }
      .quest-container-explore {
        margin-bottom: 20px;
      }
    }
    .quest-columns-2-3 {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .quest-column-2, .quest-column-3 {
        width: 300px;
      }

      .quest-container-explore {
        margin-bottom: 20px;
      }
    }
  }
  .explore-right {
    position: sticky;
    top: 0;
    width: 100%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 15px;
    .current-tag-follows{
      width: 100%;
      height: 437px;
      margin-bottom: 16px;
      // background-color: red;
      .current-tag-follows-header{
        .current-tag-follows-title {
          color: white;
          font-size: 18px;
        }
      }
      .current-tag-container {
        min-height: 308px;
        width: 100%;
        padding-top: 10px;
        background: asset-data-url('board.jpg');
        background-size: 320px 308px;
        object-fit: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        .favorited-tag-container {
          display: flex;
          padding: 16px;
          background-image: asset-data-url('parchment_slip.png');
          background-size: 100% 77px;
          object-fit: cover;
          width: 260px;

          .favorited-tag-image {
            width: 64px;
            height: 40px;
            object-fit: cover;
          }
          .favorited-tag-text-container{
            display: flex;
            flex-direction: column;
            font-size: 14px;
            .favorited-tag-name {
              font-weight: bold;
            }
            .favorited-tag-recent-posts{

            }
          }
        }
      }
      .current-tag-follows-button{

      }
    }
    .suggested-guilds{
      height: 367px;
      width: 100%;
      height: 437px;
      margin-bottom: 16px;
      .suggested-guilds-header{
        .suggested-guilds-title {
          color: white;
          font-size: 18px;
        }
      }
      .suggested-guilds-container {
        min-height: 308px;
        width: 100%;
        background: asset-data-url('board-light.jpg');
        background-size: 320px 308px;
        object-fit: cover;
        display: flex;
        flex-direction: column;
      }
      .suggested-guilds-button{

      }
    }
  }

}


@media only screen and (max-width: 989px) {
  .explore {
    .explore-left{
      width: 625px;
      justify-content: center;
    }
    .explore-right{
      display: none;
    }
  }
}
@media only screen and (min-width: 990px) {
  .explore {
    max-width: 970px;
    .explore-left{
      max-width: 620px;
      padding-right: 14px;
      border-right: 1px solid #595959;
      .explore-tag-container {
        .explore-new-tag-container {
          margin-right: 20px;
        }
      }
    }
  }
}
@media only screen and (min-width: 1310px) {
  .explore {
    max-width: 1290px;
    .explore-left{
      max-width: 940px;
    }
  }
}

