@import '../variables.scss';

.tag-page-container {
  position: relative;
  margin-top: 54px;
  background: asset-data-url("magic_city.jpg") no-repeat center fixed;
  min-height: 100vh;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  display:flex;
  justify-content: center;

  .tag-page-left {
    
  }

  .tag-page-right {

  }
}