.dashboard {
  padding-top: 50px;
  background: asset-data-url("campfire.jpg") no-repeat center fixed;
  min-height: 100vh;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.explore {
  padding-top: 50px;
  background: asset-data-url("campfire.jpg") no-repeat center fixed;
  height: 100vh;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-title{
  padding-top: 15px;
  font-family: fantasy;
  font-size: 30px;
  color: white;
}

.dash-welcome{
  font-family: fantasy;
  font-size: 20px;
  color:white;
}