.dashboard-container {
  margin-top: 54px;
  background: asset-data-url("campfire.jpg") no-repeat center fixed;
  min-height: 100vh;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  display:flex;
  justify-content: center;
}

.dashboard-left {
  padding-top: 40px;
  margin-left: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-right {
  width: 320px;
  padding-top: 40px;
  margin-right: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .follow-recommendations {
    background-color: #222222;
    color: white;
    display: flex;
    flex-direction: column;

    .follow-rec-title {
      font-size: 21px;
      width: 300px;
      padding: 10px;
      padding-top: none;
      border-bottom: 2px solid white;
    }
  }
}

.explore {
  padding-top: 50px;
  background: asset-data-url("campfire.jpg") no-repeat center fixed;
  height: 100vh;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-title{
  padding-top: 15px;
  font-family: fantasy;
  font-size: 30px;
  color: white;
}

.dash-welcome{
  font-family: fantasy;
  font-size: 20px;
  color:white;
}

@media only screen and (max-width: 980px) {
  .dashboard-left {
    padding-top: 20px;
	}
}