@import '../variables.scss';

.dashboard-container {
  margin-top: 54px;
  background: asset-data-url("campfire.jpg") no-repeat center fixed;
  min-height: 100vh;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  display:flex;
  justify-content: center;
}

.dashboard-left {
  padding-top: 40px;
  margin-left: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-right {
  width: 320px;
  padding-top: 40px;
  margin-left: 30px;
  margin-right: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .follow-recommendations {
    // background-color: #222222A6;
    background: asset-data-url('quest-board.png');
    background-size: 360px 360px;
    width: 340px;
    height: 340px;
    object-fit: cover;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;

    &:hover {
      // background-color: #222222;
    }

    .follow-rec-title {
      text-align: center;
      font-size: 21px;
      font-weight: bolder;
      width: 320px;
      padding: 10px;
      padding-top: none;
      // border-bottom: 2px solid #595959;
    }
    .follow-recs-list {
      li.follow-rec-container {
        width: 280px;
        display: flex;
        justify-content: space-between;
        margin-left: 30px;

        &:hover {
          cursor: pointer;
        }

        .user-attributes {
          display: flex;
          flex-direction: row;
          padding: 8px 10px;
          .follow-rec-avatar {
            width: 37px;
            height: 37px;
            object-fit: cover;
          }
          .follow-rec-details {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding-left: 8px;
            font-size: 14px;
            .follow-rec-username{
              color: rgb(0, 0, 0);
              font-weight: bold;
            }
            .follow-rec-guildname {
              color: #525050a6
            }
          }
        }
        .follow-rec-button-container{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 66.66px;
          height: 59px;
          .follow-rec-button {
            color: darkblue;
          }
          .follow-rec-button:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
      li.follow-rec-container:hover {
        background-color: rgba(249, 253, 4, 0.466);
      }
    }
    .follow-rec-explore-link{
      text-decoration: none;
      margin-top: 10px;
      display: flex;
      justify-content: center;
      .explore-text {
        text-align: center;
        font-size: 16px;
        color: white;
        cursor: pointer;
      }
      .explore-text:hover {
        color: $sky-blue;
      }
    }
  }

  .suggested-recommendation {
    margin-top: 20px;
    .suggested-title {
      color: white;
      font-size: 21px;
      font-weight: bolder;
      width: 320px;
      padding: 10px;
      padding-top: 0px;
      margin-bottom: 20px;
      border-bottom: 2px solid #595959;
    }
  }
}

.explore {
  padding-top: 50px;
  background: asset-data-url("campfire.jpg") no-repeat center fixed;
  height: 100vh;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-title{
  padding-top: 15px;
  font-family: fantasy;
  font-size: 30px;
  color: white;
}

.dash-welcome{
  font-family: fantasy;
  font-size: 20px;
  color:white;
}

@media only screen and (max-width: 980px) {
  .dashboard-left {
    padding-top: 20px;
	}
  .dashboard-right {
    display: none;
  }
}