.user-page-background {
  display: grid;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  grid-template-columns: 1fr 600px;
  background-color: black;
  z-index: 15;
  overflow-y: auto;
}

.user-page-container{
  background: asset-data-url("spellbook.jpg") fixed;
  background-size: cover;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: white;
  width: 600px;
  animation: user-page-slide-left 0.5s ease-in-out;

  &.close {
    animation: user-page-slide-right 0.5s ease-in-out;
  }
}

// .user-page-container.close {
  
// }

@keyframes user-page-slide-left {
  from{
      width: 0%;
      margin-left: 600px;
  }
  to{
      width: 100%;
      margin-left: 0px;
  }
}
@keyframes user-page-slide-right {
  from{
    width: 100%;
    margin-left: 0px;
  }
  to{
    width: 0%;
    margin-left: 600px;
  }
}


.user-page-top{
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  img{
      height: 96px;
      width: 96px;
      background-color: black;
      border-radius: 5px;
      object-fit: cover;
  }
}

.user-page-username {
  color: white;
}

.avatar-userpage-small {
  display: none;
}

.quest-container-userpage {
  min-width: 540px;
  .quest {
    width: 100%;
  }
}