.user-menu-background {
  display: grid;
  position: fixed;
  top: 54px;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 15;
  overflow-y: auto;
}

.user-menu-container{
  position:absolute;
  // top: 54px;
  top: 0;
  bottom: 0;
  background-color: #222222;
  width: 100vw;
  animation: user-menu-slide-right 0.5s ease;

  &.closing {
    animation: user-menu-slide-left 0.5s ease;
  }
}

@keyframes user-menu-slide-right {
  from{
      left: -100vw;
  }
  to{
      left: 0;
  }
}
@keyframes user-menu-slide-left {
  from{
      left: 0;
  }
  to{
      left: -100vw;
  }
}

.user-menu-top{
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

}

.user-menu-avatar > img {
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 5px;
  object-fit: cover;
}

.user-menu-top-buttons {
  display:flex;
  flex-direction: column;
}

.menu-container {
  color: white;
  padding: 10px 5px;
  margin: 0px 10px;
  .fas {
    width: 25px;
    text-align: center;
    margin-right: 10px;
  }
  .link {
    font-family: fantasy;
    text-decoration: none;
    background: transparent;
    border: none;
    text-align: left;
    color: white;
    font-size: 20px;
    padding: 0px 10px;
  }
}

.menu-container:hover, .link:hover {
  cursor:pointer;
}


@media only screen and (min-width: 980px) {
  .user-menu-background, .user-menu-container {
    display: none;
  }
}
