.new-quest-background {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: black;
	z-index: 10;
}

.new-quest-container {
	background-color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.image-preview {
	width: 100px;
	height: auto;
}

.quest-form-box {
	width: 400px;
}

.input-title, .input-body, .input-quote {
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	outline: none;
	margin-left: 10px;
}

.input-title, .input-quote{
	font-size: 30px;
}

.input-body {
	width: 95%;
}

.quest-form-top-block{
	margin: 10px;
}

.quest-form-bottom-block{
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #f2F2F2;
	button {
		border: transparent;
		border-radius: 3px;
		color: white;
		padding: 5px;
		margin: 10px;
	}
	.quest-close {
		background-color: grey;
	}
	.quest-create {
		background-color: rgb(54, 54, 206);
	}
}

input[type="file"]{
	display: none;
}

.camera-icon-text-container{
	width: 100%;
	min-height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-top: dashed 1px grey;
	border-bottom: dashed 1px grey;
	background-color: #F2F2F2;
}