@import '../variables.scss';

.test-background {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 2;
	background-color: #000000A7;
}

.new-quest-background {
	position: fixed;
	overflow-y: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: transparent;
	z-index: 2;
}

.new-quest-container {
	z-index: 3;
	background-color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 3px;
}

.image-preview {
	width: 100%;
	height: auto;
}

.quest-form-box {
	width: 400px;
}

.input-title, .input-body, .input-quote, .input-tag-body {
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	outline: none;
	margin-left: 10px;
}

.input-title, .input-quote{
	font-size: 30px;
}

.input-body {
	width: 95%;
}
.tag-section{
	display: flex;
	.tag-input-body {
		margin-top: 5px;
    padding: 5px 20px 10px 15px;
    overflow: hidden;
    word-break: break-all;
    cursor: text;
		border:none;
		flex: 1;
	}
}

.quest-form-top-block{
	margin: 10px;
}

.quest-form-bottom-block{
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #f2F2F2;
	button {
		border: transparent;
		border-radius: 3px;
		color: white;
		padding: 5px 10px;
		margin: 10px;
	}
	.quest-close {
		background-color: grey;
	}
	.quest-create {
		background-color: #00b8ff;
	}
	.quest-close:hover, .quest-create:hover {
		cursor: pointer;
	}
}

.quest-create:disabled {
	background-color: grey;
	:hover {
		cursor: no-drop;
	}
}


input[type="file"]{
	display: none;
}

.camera-icon-text-container{
	width: 100%;
	min-height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-top: dashed 1px grey;
	border-bottom: dashed 1px grey;
	background-color: #F2F2F2;
}

.camera-icon-text-container:hover {
	cursor: pointer;
}