@import '../variables.scss';

.test-background {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 2;
	background-color: #000000A7;
}

.new-quest-background {
	position: fixed;
	overflow-y: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: transparent;
	z-index: 2;
}

.new-quest-container {
	margin-top: 55px;
	z-index: 3;
	background-color: white;
	position: absolute;
	width: 540px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 3px;
	.quest-form-box {
		width: 100%;
		.formData {
			display: flex;
			flex-direction: column;
		}
	}
}

.image-upload-box {
	margin-bottom: 10px;
}
.image-preview-box {
	position: relative;
	.image-preview {
		width: 100%;
		height: auto;
	}

	&:hover {
		.delete-preview-container {
			.delete-preview {
				display: block;
			}
		}
	}
	.delete-preview-container {
		position:absolute;
		top: 5px;
		right: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		.delete-preview {
			display: none;
			color:red;
			font-size: 30px;
			-webkit-text-stroke-width: 0.5px;
			-webkit-text-stroke-color: white;
			&:hover {
				cursor: pointer;
				transition: all 0.5s ease-in-out;
				transform: scale(1.1);
			}
		}
	}
}

.quest-form-box {
	width: 400px;
}

.input-title, .input-body, .input-quote, .input-tag-body {
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	outline: none;
	margin-left: 10px;
	padding: 2px 10px;
}

.input-title, .input-quote{
	font-size: 30px;
	&::placeholder {
		color: rgba(0,0,0,0.65);
	}
}

.input-body {
	min-height: 80px;
	resize: none;
}
.tag-section{
	display: block;
	box-sizing: border-box;
	cursor: text;
	padding: 5px 20px 10px 15px;
	.enteredTag {
		display: inline-block;
		color: rgba(0,0,0,.65);
    margin-right: 1px;
    margin-bottom: 1px;
    display: inline-block;
    font-size: 13px;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
		&:hover {
			background-color: #f6e0e0;
			color: #ff0000;
			text-decoration: line-through;
		}
	}
	.tag-input-body {
		display: inline-block;
		margin-top: 5px;
    overflow: hidden;
    word-break: break-all;
    cursor: text;
		border:none;
		min-width: 50px;
		// flex: 1;
	}
}

.quest-form-top-block{
	padding: 10px 15px 10px 20px;
}

.quest-form-bottom-block{
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #f2F2F2;
	padding: 15px 20px;
	button {
		border: transparent;
		border-radius: 3px;
		color: white;
		padding: 5px 10px;
		margin: 10px;
	}
	.quest-close {
		background-color: grey;
	}
	.quest-create {
		background-color: #00b8ff;
	}
	.quest-close:hover, .quest-create:hover {
		cursor: pointer;
	}
}

.quest-create:disabled {
	background-color: grey;
	:hover {
		cursor: no-drop;
	}
}


input[type="file"]{
	display: none;
}

.camera-icon-text-container{
	width: 100%;
	min-height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-top: dashed 1px grey;
	border-bottom: dashed 1px grey;
	background-color: #F2F2F2;
}

.camera-icon-text-container:hover {
	cursor: pointer;
}