@import '../variables.scss';

.quest-container-dash {
	display: grid;
	grid-template-columns: 85px 540px;
	padding: 0.5rem;
}

.quest-container-userpage {
	display: flex;
	padding: 0.5rem;
	justify-content: center;
}

.avatar-dash {
	grid-column: 1, 2;
	height: 64px;
	width: 64px;
	border-radius: 5px;
	position: sticky;
	top: 70px;
	object-fit: cover;
}

.avatar-dash:hover{
	cursor: pointer;
}

.avatar-userpage {
	display: none;
}

.quest {
	background: asset-data-url("paper.jpg") no-repeat center;
	min-height: 270px;
	max-width: 540px;
	grid-column: 2, 3;
	display: grid;
	grid-template-rows: 30px 1fr;
	background-color: white;
	border-radius: 7px;
}

.quest-header {
	margin: 0 0 0 0;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	align-items: center;
  background-color: #222222;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
	span {
		font-size: 13px;
		color: white;
		justify-content: center;
		font-weight: bold;
	}
}
.quest-header span:hover{
	cursor: pointer;
}

.title {
	font-size: 36px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
	text-align: center;
	font-family: fantasy;
}

.text {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 14px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: fantasy;
	font-weight: bolder;
}

.quest-footer {
  background-color: #222222;
	display: flex;
	justify-content: space-between;
	padding: 10px;
  padding-left: 20px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.quest-footer-left {
	display: flex;
	justify-content: start;
	span{
		font-size: 13px;
		color: gray;
	}
}
.quest-footer-right {
	display: flex;
	justify-content: flex-end;
	button {
		height: 24px;
		width: 24px;
		background: transparent;
		font-size: 18px;
		border: none;
	}
}
.quest-buttons{
    width: 100px;
    display: flex;
		justify-content: flex-end;
		position: relative;
		button {
			margin-left: 10px;
		}
}

.reply, .reblog, .like, .trash, .edit{
	background:none;
	border:none;
	width: 24px;
	height: 24px;
	color: white;
}
.reply:hover, .reblog:hover, .like:hover, .trash:hover, .edit:hover {
	cursor: pointer;
}

.liked-heart{
	color: red;
}

.reply:focus, .reblog:focus, .like:focus {
	outline: none;
}

.regular-heart, .broken-heart{
	position: absolute;
	font-size: 24px;
	right: 0px;
	opacity: 0;
	animation: float-up 1s ease;
	pointer-events: none;
}

.regular-heart {
	color: red;
}

@keyframes float-up {
	from{
		opacity: 1;
		transform: translateY(0px);
		display: block;
	}
	to{
		opacity: 0;
		transform: translateY(-75px);
		display: none;
	}
}

.follow-toggle-button{
	margin-left: 15px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
.follow-toggle-button:hover{
	cursor: pointer;
}
.unfollow-button{
	color: gray;
}

.follow-button{
	color: rgb(0, 182, 182);
}

.image-video {
	width: 100%;
	height: auto;
}

.audio {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

.quest-create-container{
	width: 450px;
	display: flex;
	justify-content: space-around;
	border-radius: 5px;
	button{
		background: transparent;
		border: none;
	}
}

.about-icon {
	font-size: 20px;
	color: white;
}

.about-icon:hover {
	color: red;
}

.about-body {
	margin: 10px;
	font-family: fantasy;
	a {
		color: black;
		text-decoration: none;
	}

	:hover{
		color: red;
	}
}

.quest-author:hover {
	cursor: pointer;
}


// audio
.audio {
	margin-bottom: 10px;
}