@import '../variables.scss';

.navbar-container {
	border-bottom: 1px solid #595959;
	width: 100%;
	position: fixed;
	height: 53px;
	display:flex;
	align-items: center;
	z-index: 1;
	justify-content: space-between;
	background-color: #222222;

	&.splash-nav {
		z-index: 2;
		background-color: transparent;
		border-bottom: none;
		.right-side {
			display: flex;
			justify-content: flex-end;
			.nav-login-button > button, .nav-signup-button > button{
				border-radius: 3px;
				font-size: 1rem;
				font-weight: 500;
				line-height: 1.5;
				padding: 6px 15px;
				color: white;
				outline: none;
				border: none;
				cursor: pointer;
			}
			.nav-login-button > button{
				background-color: $dark-green;
				margin-right: 10px;
			}
			.nav-signup-button > button {
				background-color: $sky-blue;
			}
		}
	}
}

.navbar {
	display:flex;

}

.nav-border {
	position: absolute;
}

.switch-button {
	// grid-column: 7/8;

	button {
		background-color: $dark-green;
		color: white;
		width: 100px;
		height: 30px;
		border-radius: 5px;
		padding: 8px 0px;
		border: none;
		cursor: pointer;
	}
}

.nav-logo {
	font-weight: bold;
	font-size: 32px;
	color: white;
	font-family: fantasy;
	text-shadow: 1px 1px black;
}

.left-side {
	margin-left: 20px;
	display: flex;
	align-items: center;
	grid-column: 2/3;
	height: 55%;
	position: relative;
}

.middle {
	display: flex;
	align-items: center;
}

.right-side{
	width: 373px;
	display: flex;
	// For more icons
	// justify-content: space-between;
	// For fewer icons
	justify-content: flex-end;
	align-items: center;
	margin-right: 20px;
	// grid-column: 6/8;
	z-index: 1;
	color: white;
	font-size: 20px;
	.nav-link {
		height: 22px;
		width: auto;
		color: #595959;
		cursor: pointer;
		// // For fewer icons
		margin-left: 20px;
	}
	span.active, .nav-link.active {
		color: white;
	}

	.nav-user-container {
		position: relative;
		
		.user-dropdown-background{
			position: absolute;
			left: -100vw;
			right: -10vw;
			top: -10vh;
			bottom: -100vh;
			z-index: 1;
		}
		.user-dropdown-container {
			width: 240px;
			z-index: 2;
			background-color: white;
			color: black;
			position: absolute;
			top: 39px;
			right: -40px;
			border-radius: 3px;
			.user-dropdown-header {
				height: 26px;
				padding: 5px 20px 5px 10px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				background-color: rgba(0,0,0,.07);
				color: rgba(0,0,0,.65);
				font-size: 16px;
				div {
					font-size: inherit;
				}
				.header-button:hover {
					cursor: pointer;
				}
			}
			.user-dropdown-top-section {
				display: flex;
				flex-direction: column;
				.panel-container {
					text-decoration: none;
					color:black;
					height: 41px;
					display: flex;
					align-items: center;
					padding: 0px 20px 0px 10px;
					.user-dropdown-icon {
						width: 25px;
						margin-right: 10px;
						text-align: center;
						font-size: 20px;
						color: $gray;
					}
					&.count-container {
						justify-content: space-between;
						.panel-count {
							color: $gray;
						}
					}
					&:hover {
						background-color: $secondary-accent;
						cursor: pointer;
					}
				}
			}
		}
	}

	.create-new-container {
		cursor: pointer;
		background-color: #8ba039;
		border-radius: 5px;
		display:flex;
		justify-content: center;
		align-items: center;
		width: 45px;
		height: 32px;
		span {
			color: #222222;
			padding-top:2px;
			height: 22px;
			width: auto;
		}
	}
}

// .dropdown-button {
// 	border: none;
// 	border-radius: 5px;
// 	width: 40px;
// 	height: 30px;
// 	position: relative;
// 	font-size: 20px;
// 	outline: none;
// }
// .dropdown-button:hover, .logout-button:hover {
// 	cursor: pointer;
// }


// .dropdown-top:hover, .dropdown-container:hover{
// 	cursor: auto;
// }

// .dropdown-container{
// 	height: auto;
// 	width: 240px;
// 	background-color: white;
// 	border-radius: 3px;
// 	color: black;
// 	position: absolute;
// 	top: 40px;
// 	font-size: 14px;
// }

// .dropdown-top{
// 	display: flex;
// 	justify-content: space-between;
// 	align-items: flex-start;
// 	background-color: lightgray;
// 	padding: 5px;
// 	font-size: 12px;
// 	border-radius: 3px;
// }

.dropdown-bottom{
	display: flex;
	justify-content: flex-start;
	padding: 10px;
}

.nav-avatar-image{
	height: 40px;
	width: 40px;
	object-fit: cover;
	border: 1px solid black;
  border-radius: 50%;
}
.nav-username{
	margin-left: 10px;
	align-self: center;
}

.link {
	text-decoration: none;
}

// .search-icon {
// 	width: 20px;
// 	height: auto;
// 	filter: invert(100%);
// }

// .user-info-button {
// 	background: transparent;
// 	border: none;
// 	outline: none;
// }

.user-menu-button {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 40px;
	transition: all .2s cubic-bezier(.175,.885,.32,1.275);
	span {
		position: absolute;
		height: 50%;
		transform-origin: 50% 50%;
		height: 2px;
		width: 50%;
		background-color: white;
		border-radius: 1px;
		transition: inherit;
	}
	span:first-child {
		transform:rotate(0deg) translate3d(0,-6px,0);
	}
	span:nth-child(2) {
		opacity: 1;
	}
	span:last-child {
		transform:rotate(0deg) translate3d(0,6px,0);
	}
	&.menu-open {
		span:first-child {
			transform:rotate(45deg) translate3d(0,0,0);
		}
		span:nth-child(2) {
			opacity: 0;
		}
		span:last-child {
			transform:rotate(-45deg) translate3d(0,0,0);
		}
	}
}

.user-menu-button:hover {
	cursor:pointer;
}

@media only screen and (max-width: 980px) {
  // .navbar-container{
	// 	border-bottom: none;
	// }
	.right-side {
		width: fit-content;
		justify-content: flex-end;
	}

}