@import '../variables.scss';

.navbar-container {
	border-bottom: 1px solid #595959;
	width: 100%;
	position: fixed;
	height: 53px;
	display:flex;
	align-items: center;
	z-index: 1;
	justify-content: space-between;
	background-color: #222222;

	&.splash-nav {
		background-color: transparent;
		border-bottom: none;
	}
}

.navbar {
	display:flex;

}

.nav-border {
	position: absolute;
}

.other-button {
	grid-column: 7/8;

	button {
		background-color: $dark-green;
		color: white;
		width: 100px;
		height: 30px;
		border-radius: 5px;
		padding: 8px 0px;
		border: none;
		cursor: pointer;
	}
}

.nav-logo {
	font-weight: bold;
	font-size: 32px;
	color: white;
	font-family: fantasy;
	text-shadow: 1px 1px black;
}

.left-side {
	margin-left: 20px;
	display: flex;
	align-items: center;
	grid-column: 2/3;
	height: 55%;
	position: relative;
}

.middle {
	display: flex;
	align-items: center;
}

.right-side{
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
	grid-column: 6/8;
	z-index: 1;
	color: white;
	font-size: 20px;
}

.dropdown-button {
	border: none;
	border-radius: 5px;
	width: 40px;
	height: 30px;
	position: relative;
	font-size: 20px;
	outline: none;
}
.dropdown-button:hover, .logout-button:hover {
	cursor: pointer;
}


.dropdown-top:hover, .dropdown-container:hover{
	cursor: auto;
}

.dropdown-container{
	height: auto;
	width: 240px;
	background-color: white;
	border-radius: 3px;
	color: black;
	position: absolute;
	top: 40px;
	font-size: 14px;
}

.dropdown-top{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	background-color: lightgray;
	padding: 5px;
	font-size: 12px;
	border-radius: 3px;
}

.dropdown-bottom{
	display: flex;
	justify-content: flex-start;
	padding: 10px;
}

.nav-avatar-image{
	height: 40px;
	width: 40px;
	object-fit: cover;
	border: 1px solid black;
  border-radius: 50%;
}
.nav-username{
	margin-left: 10px;
	align-self: center;
}

.link {
	text-decoration: none;
}

.search-icon {
	width: 20px;
	height: auto;
	filter: invert(100%);
}

.user-info-button {
	background: transparent;
	border: none;
	outline: none;
}

.user-menu-button {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 40px;
	transition: all .2s cubic-bezier(.175,.885,.32,1.275);
	span {
		position: absolute;
		height: 50%;
		transform-origin: 50% 50%;
		height: 2px;
		width: 50%;
		background-color: white;
		border-radius: 1px;
		transition: inherit;
	}
	span:first-child {
		transform:rotate(0deg) translate3d(0,-6px,0);
	}
	span:nth-child(2) {
		opacity: 1;
	}
	span:last-child {
		transform:rotate(0deg) translate3d(0,6px,0);
	}
	&.menu-open {
		span:first-child {
			transform:rotate(45deg) translate3d(0,0,0);
		}
		span:nth-child(2) {
			opacity: 0;
		}
		span:last-child {
			transform:rotate(-45deg) translate3d(0,0,0);
		}
	}
}

.user-menu-button:hover {
	cursor:pointer;
}

@media only screen and (max-width: 800px) {
  // .navbar-container{
	// 	border-bottom: none;
	// }
}