@import '../variables.scss';

.navbar-container {
	// display: grid;
	// grid-template-columns: .30fr 1fr 1fr 1fr 1fr 1fr 1fr;
	width: 100%;
	position: absolute;
	height: 50px;
	align-items: center;
	z-index: 1;
	display:flex;
	justify-content: space-between;

}

.navbar {
	display:flex;

}

.nav-border {
	position: absolute;
}

.other-button {
	grid-column: 7/8;

	button {
		background-color: $dark-green;
		color: white;
		width: 100px;
		height: 30px;
		border-radius: 5px;
		padding: 8px 0px;
		border: none;
	}
}

.nav-logo {
	position: absolute;
	top: 2;
	right: 49%;
	font-weight: bold;
	font-size: 32px;
	color: white;
	font-family: fantasy;
	text-shadow: 1px 1px black;
}

.left-side {
	margin-left: 20px;
	display: flex;
	grid-column: 2/3;
	height: 55%;
	position: relative;
}

.right-side{
	display: flex;
	justify-content: flex-end;
	margin-right: 40px;
	grid-column: 6/8;
	z-index: 1;
	color: white;
	font-size: 20px;
}

.dropdown-button {
	border: none;
	border-radius: 5px;
	width: 40px;
	height: 30px;
	position: relative;
	font-size: 20px;
	outline: none;
}
.dropdown-button:hover, .logout-button:hover {
	cursor: pointer;
}


.dropdown-top:hover, .dropdown-container:hover{
	cursor: auto;
}

.dropdown-container{
	height: auto;
	width: 240px;
	background-color: white;
	border-radius: 3px;
	color: black;
	position: absolute;
	top: 40px;
	font-size: 14px;
}

.dropdown-top{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	background-color: lightgray;
	padding: 5px;
	font-size: 12px;
	border-radius: 3px;
}

.dropdown-bottom{
	display: flex;
	justify-content: flex-start;
	padding: 10px;
}

.nav-avatar-image{
	height: 40px;
	width: 40px;
	object-fit: cover;
	border: 1px solid black;
  border-radius: 50%;
}
.nav-username{
	margin-left: 10px;
	align-self: center;
}

.link {
	text-decoration: none;
}

.search-icon {
	width: 20px;
	height: auto;
	filter: invert(100%);
}

.user-info-button {
	background: transparent;
	border: none;
	outline: none;
}

.user-menu-button {
	background: transparent;
	border: none;
	outline: none;
	color:white;
	font-size: 20px;
}

.user-menu-button:hover {
	cursor:pointer;
}