@import './variables.scss';

.splash-container {
	overflow: scroll;
	scroll-behavior: smooth;
  height: 100vh;
	scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.sidebar {
	position: fixed;
	left: 7%;
	top: 35%;
	z-index: 2;
	display: flex;
	flex-direction: column;
	font-size: 0.9rem;
	color: white;
	cursor: pointer;

	.fa-circle {
		margin: 0.25rem;
	}
}

.bottom-section {
	position: absolute;
	bottom: 0;
	z-index: 1;
	width: 100vw;
	height: 5vh;
	background-color: $dark-green;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	.bottom-text {
		color: white;
		font-weight: 50px;
		font-family: $splash-font;
		font-size: 0.75rem;
	}
}

.splash {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	scroll-snap-align: start;
	height: 100vh;
	background: asset-data-url("temp-background.jpeg") no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
}

#splash-1 {
	position: relative;
	background: black;
}

#splash-1:before {
	position: absolute;
	z-index: 1;
	content: '';
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: asset-data-url("temp-background.jpeg") no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
	// opacity: 0.5;
	animation: fade 3s;
}

@keyframes fade{
	from{
		opacity: 0;
	} 
	to{
		opacity: 1;
	}
}
// clearing out the background is a temporary solution
#splash-2 {
	background: none;
	background-color: $dark-green;

	.splash-2-content{
		margin-left: 5%;
		position: relative;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: flex-end;

		.filter {
			filter: invert(100%) sepia(100%) saturate(38%) hue-rotate(321deg) brightness(110%) contrast(110%);
		}
		.icons {
			position: absolute;
			top: 10%;
			height: 270px;
			width: 540px;
			.logo{
				position: absolute;
				left: 50%;
				top: 60%;
				transform: translate(-50%, -50%);
				height: 50%;
				width: auto;
				color: white;
				opacity: 0;
			}

			.sword {
				position: absolute;
				opacity: 0;
				width: auto;
				color: white;
			}
			.skull {
				position: absolute;
				height: 20%;
				width: auto;
				top: 40%;
				left: 56%;
			}
			.bow {
				position: absolute;
				height: 20%;
				width: auto;
				top: 37%;
				left: 32%;
			}
			.lute {
				position: absolute;
				height: 25%;
				width: auto;
				top: 70%;
				left: 55%;
			}
			.scroll {
				position: absolute;
				height: 20%;
				width: auto;
				top: 16%;
				left: 43%;
			}
			.dialogue {
				position: absolute;
				height: 17%;
				width: auto;
				top: 20%;
				left: 55%;
				fill: #FFFFFF;
			}
			.dragon {
				position: absolute;
				height: 30%;
				width: auto;
				top: 37%;
				left: 69%;
				fill: #FFFFFF;
			}
			.mimic {
				position: absolute;
				height: 30%;
				width: auto;
				top: 20%;
				left: 15%;
				fill: #FFFFFF;
				transform: scaleX(-1);
			}
			.anvil {
				position: absolute;
				height: 35%;
				width: auto;
				top: 0;
				left: 63%;
				fill: #FFFFFF;
			}
		}
		.splash-2-text {
			display: flex;
			flex-direction: column;
			height: 35%;
			width: 540px;
			margin-bottom: 2%;
			color: white;
			.splash-2-prompt {
				height: 120px;
				// width: 540px;
				font-size: 2.5rem;
				margin-bottom: 2%;
			}
			.splash-2-description {
				height: 96px;
				// max-width: 540px;
				font-size: 1rem;
				max-width: 100%;
			}
		}
	}
	&.active{
		.splash-2-content {
			.icons {
				.logo {
					animation: fade 1s forwards;
				}
				.sword {
					animation: sword 1s linear 1s forwards;
					position: absolute;
					height: 18%;
					width: auto;
					color: white;
				}
			}
		}
	}
}

@keyframes sword {
	from {
		opacity: 0;
		top: 17%;
		left: 26%;
	}
	to {
		opacity: 1;
		top: 74%;
		left: 34%;
	}
}

#splash-3 {
	background: none;
	background-color: blue;
}
#splash-4 {
	background: none;
	background-color: red;
}
#splash-5 {
	background: none;
	background-color: purple;
}
#splash-6 {
	background: none;
	background-color: black;
}

.splash-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	transform: translate(0%, -15%);
	// old animation
	animation: none;
	z-index: 1;
}

// old animations
// @keyframes fade{
// 	from{
// 		opacity: 0;
// 	} 
// 	to{
// 		opacity: 1;
// 	}
// }

// @keyframes slide{
// 	from{
// 		transform: translateY(-20px);
// 	} 
// 	to{
// 		transform: translateY(-45px);
// 	}
// }

.app-name {
	color: white;
	font-size: 60px;
	margin: 0;
	font-family: fantasy;
}

.welcome-text {
	display:flex;
	flex-direction: column;
	color: white;
	text-align: center;
	font-family: fantasy;
	font-size: 16px;
	margin-bottom: 10px;

	p {
		margin: 5px;
	}
}

.signup, .login {
	width: 300px;
	height: 45px;
	padding: 8px 0px;
	margin-bottom: 10px;
	font-family: $splash-font;
	font-size: 16px;
	border-radius: 3px;
	border: none;
	cursor: pointer;
}

.signup {
	background-color: $dark-green;
	color: white;	
}

.login {
	background-color: white;
	font-weight: bold;
}

.demo-user {
	background-color: $sky-blue;
	color: white;
	border-radius: 3px;
	border: none;
	width: 300px;
	height: 45px;
	padding: 8px 0px;
	font-family: $splash-font;
	font-size: 16px;
}

.errors{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba($color: black, $alpha: .5);
	font-family: $splash-font;
	color: white;
	font-size: 14px;
	text-align: center;
	border-radius: 5px;
	border: none;
	width: 280px;
	height: 25px;
	padding: 10px;
	margin-bottom: 10px;
	animation: error-message 0.4s;
}

@keyframes error-message {
	from {
		height: 0px;
	}
	to {
		height: 25px;
	}
}

#username,#password,#email {
	width: 280px;
	padding: 10px;
	height: 24px;
	border: none;
	border-radius: 3px;
	font-family: $splash-font;
	font-size: 16px;
}

#email {
	border-radius: 0px;
}

#username {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

#password {
	margin-bottom: 10px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#email::placeholder,#username::placeholder,#password::placeholder{
	color: light-grey;
	font-family: $splash-font;
	font-size: 16px;
}


@media only screen and (max-width: 800px) {
  #splash-2, #splash-3, #splash-4, #splash-5, #splash-6, .sidebar{
		display:none;
	}
}