@import './variables.scss';

.splash-container {
	overflow: scroll;
	scroll-behavior: smooth;
  height: 100vh;
	scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.sidebar {
	position: fixed;
	left: 7%;
	top: 35%;
	z-index: 2;
	display: flex;
	flex-direction: column;
	font-size: 0.9rem;
	color: white;
	cursor: pointer;

	.fa-circle {
		margin: 0.25rem;
	}
}

.bottom-section {
	position: absolute;
	bottom: 0;
	z-index: 1;
	width: 100vw;
	height: 5vh;
	background-color: $dark-green;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	.bottom-text {
		color: white;
		font-weight: 50px;
		font-family: $splash-font;
		font-size: 0.75rem;
	}
}

.splash {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	scroll-snap-align: start;
	height: 100vh;
	background: asset-data-url("temp-background.jpeg") no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
}

#splash-1 {
	position: relative;
	background: black;
}

#splash-1:before {
	position: absolute;
	z-index: 1;
	content: '';
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: asset-data-url("temp-background.jpeg") no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
	// opacity: 0.5;
	animation: fade 3s;
}

@keyframes fade{
	from{
		opacity: 0;
	} 
	to{
		opacity: 1;
	}
}
// clearing out the background is a temporary solution
#splash-2 {
	background: none;
	background-color: $dark-green;

	.splash-2-content{
		margin-left: 5%;
		position: relative;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: flex-end;

		.filter {
			filter: invert(84%) sepia(46%) saturate(190%) hue-rotate(4deg) brightness(98%) contrast(91%);
		}
		.icons {
			position: absolute;
			top: 20%;
			height: 270px;
			width: 540px;
			.logo{
				position: absolute;
				left: 50%;
				top: 60%;
				transform: translate(-50%, -50%);
				height: 50%;
				width: auto;
				color: white;
				opacity: 0;
			}

			.sword, .skull, .bow, .lute, .scroll, .dialogue, .dragon, .mimic, .anvil, .crossed-axes, .wizard-staff, .ancient-sword, .arrows, .fire-bottle, .vine {
				opacity: 0;
			}
			.dialogue {
				fill: #ECDDAE;
			}
			.mimic {
				transform: scaleX(-1);
			}
			.wizard-staff {
				transform: scaleY(-1) rotate(45deg);
			}
			.ancient-sword {
				transform: scaleX(-1)
			}
			.arrows {
				transform: scaleX(-1)
			}
			.fire-bottle {
				transform: scaleX(-1) rotate(-45deg);
			}
			.vine {
				transform: rotate(-5deg);
			}

		}
		.splash-2-text {
			display: flex;
			flex-direction: column;
			height: 35%;
			width: 540px;
			margin-bottom: 2%;
			color: white;
			.splash-2-prompt {
				// height: 120px;
				font-size: 48px;
				margin-bottom: 2%;
			}
			.splash-2-description {
				// height: 96px;
				font-size: 18px;
				max-width: 100%;
			}
		}
	}
	&.active{
		.splash-2-content {
			.icons {
				.logo {
					animation: fade 1s forwards;
				}
				.sword {
					animation: sword 1s linear 1s forwards;
					position: absolute;
					height: 18%;
					width: auto;
					color: white;
				}
				.skull {
					animation: skull 1s linear 1s forwards;
					position: absolute;
					height: 20%;
					width: auto;
				}
				.bow {
					animation: bow 1s linear 1s forwards;
					position: absolute;
					height: 20%;
					width: auto;
				}
				.lute {
					animation: lute 1s linear 1s forwards;
					position: absolute;
					height: 25%;
					width: auto;
				}
				.scroll {
					animation: scroll 1s linear 1s forwards;
					position: absolute;
					height: 20%;
					width: auto;
				}
				.dialogue {
					animation: dialogue 1s linear 1s forwards;
					position: absolute;
					height: 17%;
					width: auto;
				}
				.dragon {
					animation: dragon 1s linear 1s forwards;
					position: absolute;
					height: 30%;
					width: auto;
				}
				.mimic {
					animation: mimic 1s linear 1s forwards;
					position: absolute;
					height: 30%;
					width: auto;
				}
				.anvil {
					animation: anvil 1s linear 1s forwards;
					position: absolute;
					height: 35%;
					width: auto;
				}
				.crossed-axes {
					animation: crossed-axes 1s linear 1s forwards;
					position: absolute;
					height: 30%;
					width: auto;
				}
				.wizard-staff {
					animation: wizard-staff 1s linear 1s forwards;
					position: absolute;
					height: 25%;
					width: auto;
				}
				.ancient-sword {
					animation: ancient-sword 1s linear 1s forwards;
					position: absolute;
					height: 40%;
					width: auto;
				}
				.arrows {
					animation: arrows 1s linear 1s forwards;
					position: absolute;
					height: 28%;
					width: auto;
				}
				.fire-bottle {
					animation: fire-bottle 1s linear 1s forwards;
					position: absolute;
					height: 24%;
					width: auto;
				}
				.vine {
					animation: vine 1s linear 1s forwards;
					position: absolute;
					height: 20%;
					width: auto;
				}
			}
		}
	}
}

@keyframes sword {
	from {
		opacity: 0;
		top: 150%;
		left: 0%;
	}
	to {
		opacity: 1;
		top: 74%;
		left: 34%;
	}
}
@keyframes skull {
	from {
		opacity: 0;
		top: 50%;
		left: 100%;
	}
	to {
		opacity: 1;
		top: 40%;
		left: 56%;
	}
}
@keyframes bow {
	from {
		opacity: 0;
		top: 0%;
		left: 32%;
	}
	to {
		opacity: 1;
		top: 37%;
		left: 32%;
	}
}
@keyframes lute {
	from {
		opacity: 0;
		top: 100%;
		left: 100%;
	}
	to {
		opacity: 1;
		top: 70%;
		left: 55%;
	}
}
@keyframes scroll {
	from {
		opacity: 0;
		top: 0%;
		left: 43%;
	}
	to {
		opacity: 1;
		top: 16%;
		left: 43%;
	}
}
@keyframes dialogue {
	from {
		opacity: 0;
		top: 0%;
		left: 90%;
	}
	to {
		opacity: 1;
		top: 20%;
		left: 55%;
	}
}
@keyframes dragon {
	from {
		opacity: 0;
		top: 0%;
		left: 120%;
	}
	to {
		opacity: 1;
		top: 37%;
		left: 69%;
	}
}
@keyframes mimic {
	from {
		opacity: 0;
		top: -20%;
		left: -15%;
	}
	to {
		opacity: 1;
		top: 20%;
		left: 15%;
	}
}
@keyframes anvil {
	from {
		opacity: 0;
		top: -40%;
		left: 63%;
	}
	to {
		opacity: 1;
		top: 0;
		left: 63%;
	}
}
@keyframes crossed-axes {
	from {
		opacity: 0;
		top: 6%;
		left: -30%;
	}
	to {
		opacity: 1;
		top: 3%;
		left: 29%;
	}
}
@keyframes wizard-staff {
	from {
		opacity: 0;
		top: -6%;
		left: 100%;
	}
	to {
		opacity: 1;
		top: -6%;
		left: 48%;
	}
}
@keyframes ancient-sword {
	from {
		opacity: 0;
		top: 100%;
		left: 16%;
	}
	to {
		opacity: 1;
		top: 63%;
		left: 16%;
	}
}
@keyframes arrows {
	from {
		opacity: 0;
		top: 120%;
		left: 80%;
	}
	to {
		opacity: 1;
		top: 76%;
		left: 65%;
	}
}
@keyframes fire-bottle {
	from {
		opacity: 0;
		top: 120%;
		left: 43%;
	}
	to {
		opacity: 1;
		top: 85%;
		left: 43%;
	}
}
@keyframes vine {
	from {
		opacity: 0;
		top: 50%;
		left: -25%;
	}
	to {
		opacity: 1;
		top: 50%;
		left: 24%;
	}
}

#splash-3 {
	background: none;
	background-color: #455787;
	overflow: hidden;
	.splash-3-content {
		margin-left: 140px;
		margin-top: 120px;
		position: relative;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		// justify-content: center;
		// align-items: flex-end;
		.splash-3-text {
			display: flex;
			flex-direction: column;
			height: 35%;
			width: 540px;
			margin-bottom: 12px;
			color: white;
			.splash-3-hook {
				font-size: 56px;
				margin-bottom: 2%;
			}
			.splash-3-description {
				font-size: 18px;
				max-width: 100%;
			}
		}
		.splash-3-image {
			img {
				max-width: 940px;
				height: auto;
			}
		}
	}
}
#splash-4 {
	background: none;
	background-color: red;
	overflow: hidden;
	.splash-4-content{
		display: flex;
		flex-direction: row;
		.splash-4-images {
			margin-left: 55px;
			margin-top: 110px;
			width: 626px;
			img {
				width: 626px;
			}

		}

		.splash-4-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			// width: 323px;
			height: 100%;
			margin-left: 40px;
			margin-right: 55px;
			// margin-bottom: 12px;
			color: white;
			.splash-4-hook {
				font-size: 56px;
				margin-bottom: 2%;
			}
			.splash-4-description {
				font-size: 18px;
				max-width: 100%;
			}
		}
	}
}
#splash-5 {
	background: none;
	background-color: purple;
}
#splash-6 {
	background: none;
	background-color: black;
}

.splash-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	transform: translate(0%, -15%);
	// old animation
	animation: none;
	z-index: 1;
}

.app-name {
	color: white;
	font-size: 60px;
	margin: 0;
	font-family: fantasy;
}

.welcome-text {
	display:flex;
	flex-direction: column;
	color: white;
	text-align: center;
	font-family: fantasy;
	font-size: 16px;
	margin-bottom: 10px;

	p {
		margin: 5px;
	}
}

.signup, .login, .demo-user {
	width: 300px;
	height: 45px;
	padding: 8px 0px;
	margin-bottom: 10px;
	font-family: $splash-font;
	font-size: 16px;
	border-radius: 3px;
	border: none;
	cursor: pointer;
}

.signup {
	background-color: $dark-green;
	color: white;	
}

.login {
	background-color: white;
	font-weight: bold;
}

.demo-user {
	background-color: $sky-blue;
	color: white;
	margin-bottom: 0px;
}

.errors{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba($color: black, $alpha: .5);
	font-family: $splash-font;
	color: white;
	font-size: 14px;
	text-align: center;
	border-radius: 5px;
	border: none;
	width: 280px;
	height: 25px;
	padding: 10px;
	margin-bottom: 10px;
	animation: error-message 0.4s;
}

@keyframes error-message {
	from {
		height: 0px;
	}
	to {
		height: 25px;
	}
}

#username,#password,#email {
	width: 280px;
	padding: 10px;
	height: 24px;
	border: none;
	border-radius: 3px;
	font-family: $splash-font;
	font-size: 16px;
}

#email {
	border-radius: 0px;
}

#username {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

#password {
	margin-bottom: 10px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#email::placeholder,#username::placeholder,#password::placeholder{
	color: light-grey;
	font-family: $splash-font;
	font-size: 16px;
}


@media only screen and (max-width: 990px) {
  #splash-2, #splash-3, #splash-4, #splash-5, #splash-6, .sidebar{
		display:none;
	}
}