@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');
body {
  font-family: 'Oranienbaum', serif;
}
$splash-font: Arial, Helvetica, sans-serif;

$sky-blue: #80B3CF;
$dark-green: #204F2D;
$secondary-accent: rgba(229, 231, 234, 1);
$light-grey: #353535;
// 314241
// #434740
// #2D2219
// 3d3630
// #092409
$light-grey-a2: #505d69A2;
$gray: rgba(0,0,0,.65);

$white: 255,255,255;