@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');
body {
  font-family: 'Oranienbaum', serif;
}
$splash-font: Arial, Helvetica, sans-serif;

$sky-blue: #80B3CF;
$dark-green: #204F2D;