.settings-container{
  margin-top: 54px;
  background: url("https://cdna.artstation.com/p/assets/images/images/028/288/940/large/diego-herrera-sosa-previo-17-final.jpg?1594049355") no-repeat center fixed;
  min-height: 100vh;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  display:flex;
  justify-content: center;
  .settings-left{
  }
  .settings-right{
    
  }
}