@import './variables.scss';

.settings-background{
  margin-top: 54px;
  background: url("https://cdna.artstation.com/p/assets/images/images/028/288/940/large/diego-herrera-sosa-previo-17-final.jpg?1594049355") no-repeat center fixed;
  min-height: 100vh;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  display:flex;
  justify-content: center;
  .settings-container{
    overflow-x: scroll;
    margin-top: 40px;
    display:flex;
    height: 100vh;
    .settings-left{
      height: fit-content;
      margin-left: 27px;
      min-width: 625px;
      border-radius: 3px;
      background-color: white;
      color: #444444;
      float: left;
      position: relative;

      .left-title {
        margin: 25px;
        margin-bottom: 0px;
        font-size: 24px;
        padding-bottom: 28px;
        border-bottom: 2px solid #E5E5E5;
      }
      .settings-left-panel {
        margin-left: 25px;
        margin-right: 25px;
        border-top: 1px solid #F4F4F4;
        position: relative;
        display: flex;
        padding: 20px 0px;
        .panel-title{
          width: 125px;
          font-weight: bold;
          font-size: 16px;
          padding: 0px 10px;
        }
        .attribute-container {
          .current-attribute {
            font-size: 16px;
          }
        }
        .attribute-edit-container {
          width: 430px;
          padding: 0px 10px;
          display: flex;
          flex-direction: column;
          .attribute-input {
            width: 310px;
            padding: 6px 9px;
            margin-bottom: 10px;
            border: 1px solid #D9D9D9;
          }
          .attribute-edit-button-container{
            display: flex;
            div {
              min-width: 69px;
              height: 30px;
              // padding: 0px 10px;
              margin-right: 10px;
              border-radius: 2px;
              color: white;
              font-size: 14px;
              cursor: pointer;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .cancel-button {
              background-color: #9DA6AF;
            }
            .save-button {
              background-color: #00B8FF;
            }
          }
        }
        .edit-button-container{
          position: absolute;
          top: 10px;
          right: 10px;
          span {
            color: #000000;
            opacity: 0.25;
            cursor: pointer;

            &:hover {
              opacity: 0.5;
            }
          }
        }
        .hide {
          display:none;
        }
        &:nth-child(2) {
          border-top: none;
        }
      }

      &.edit {
        .settings-left-panel {
          opacity: .4;
          pointer-events: none;
        }
      }

      .left-title-section {
        position: absolute;
        width: 605px;
        z-index: 11;
        display: flex;
        justify-content: space-between;
        line-height: 30px;
        align-items: center;
        padding: 10px;
        .title-username {
          color: #00B8FF;
          height: 30px;
          &.edit {
            color: #FFFFFF;
          }
        }

        .edit-appearance-button {
          border-radius: 3px;
          color: #FFFFFF;
          background-color: #00B8FF;
          height: 30px;
          line-height: 28px;
          padding: 0px 10px;
          cursor: pointer;
        }
      }
      .edit-appearance-button-container {
        display: flex;
        font-size: 14px;
        .cancel-button, .save-button {
          height: 30px;
          min-width: 49px;
          line-height: 30px;
          padding: 0px 10px;
          border-radius: 2px;
          font-weight: bold;
          cursor: pointer;
          text-align: center;
          vertical-align: center;
        }

        .cancel-button {
          margin-right: 10px;
          background-color: rgba(0,0,0,0.5);
          color: #FFFFFF;
        }

        .save-button {
          background-color: #FFFFFF;
          color: rgba(68,68,68,0.5);
        }
      }


      .appearance-section {
        width: 100%;
        padding-top: 50px;
        &.edit {padding-top: 0px}
        .appearance-banner-container{

          .appearance-banner {
            position: relative;
            display: block;
            width: 625px;
            object-fit: cover;
            z-index: 5;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
            opacity: 0.7;
            animation: banner-grow 0.5s ease-in-out forwards;
            &.hide {display: none;}
          }
        }
        .appearance-avatar-container {
          position:relative;
          .avatar-edit-button-container {
            z-index: 7;
            position: absolute;
            height: 30px;
            width: 30px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(0,0,0,0.5);
            cursor: pointer;
            border-radius: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            .avatar-edit-button {
              color: #FFFFFF;
              font-size: 18px;
              line-height: 30px;
            }
          }
          .appearance-avatar {
            display: block;
            height: 96px;
            width: 96px;
            object-fit: cover;
            border-radius: 50%;
            margin: 20px auto;
  
            &.edit {
              position: relative;
              margin-top: -72px;
              z-index: 6;
              border-radius: 50%;
              margin-top: -72px;
              justify-self: center;
              color: white;
              box-shadow: 0 0 0 4px;
            }
          }
        }

        .guild-details {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          .guildname {
            font-size: 42px;
          }
          &.edit {
            .guildname-input {
              font-size: 42px;
              text-align: center;
              border: none;
              text-decoration: underline dashed #00B8FF 1.5px;
              // text-decoration-thickness: 0.5px;
              text-underline-offset: 3px;
              &:focus {
                background-color: rgba(0,0,0,0.05);
                border-radius: 2px;
                text-decoration: none;
              }
            }
            .guild-description-input {
              width: 525px;
              text-align: center;
              min-height: 20px;
              font-size: 14px;
              border: none;
              border-radius: 2px;
              color: rgba(0,0,0,0.7);
              &:focus {
                background-color: rgba(0,0,0,0.05);
              }
            }
          }
        }
      }
    }
    .settings-right{
      float: right;
      height: fit-content;
      margin-left: 27px;
      min-width: 320px;
      .settings-right-top{
        .settings-right-panel {
          padding: 5px 10px 7px 10px;
          display: flex;
          flex-direction:column;
          white-space: nowrap;
          text-overflow: clip;
          line-height: 1.6;
          // border-top: 1px solid white;
          border-top: 1px solid hsla(0,0%,100%,.07);
          .title {
            font-weight: 700;
            font-size: 16px;
            color: #FFFFFF;
          }
          .description {
            font-size: 14px;
            color: #FFFFFFA6;
          }
          &:hover, &.active {
            cursor: pointer;
            background-color: $light-grey-a2;
          }
          &:first-child {
            border-top: none;
          }
        }
      }
      .settings-right-bottom{
        margin-top: 18px;
        .settings-right-bottom-title {
          padding: 0px 10px 4px 10px;
          border-bottom: 2px solid hsla(0,0%,100%,.13);
          font-size: 20px;
          font-weight: 700px;
          line-height: 25px;
          color: white;
        }
        .guild-container {
          display: flex;
          position: relative;
          padding: 7px 32px 7px 57px;
          border-bottom: 1px solid hsla(0,0%,100%,.07);
          .guild-container-avatar {
            position: absolute;
            top: 50%;
            left: 10px;
            margin: -18px 0px 0px 0px;
            height: 37px;
            width: 37px;
            object-fit: cover;
            border-radius: 3px;

          }
          .guild-container-details {
            display: flex;
            flex-direction: column;
            line-height: 1.6;
            .guild-container-username {
              color: white;
              font-weight: 700;
              font-size: 16px
            }
            .guild-container-guildname {
              color: hsla(0,0%,100%,.65);
              font-size: 14px;
            }
          }
          .guild-container-primary {
            position: absolute;
            top: 50%;
            right: 10px;
            line-height: 12px;
            font-size: 12px;
            margin: -6px 0px 0px 0px;
            color: white;
          }
          &:hover, &.active {
            cursor: pointer;
            background-color: $light-grey-a2;
          }
        }
      }
    }
  }
}

@keyframes banner-grow {
  from {
    height: 60px;
  }
  to {
    height: 345px;
  }
}